@keyframes glitch {
    0% { text-shadow: 2px 2px #21a1f1, -2px -2px #21a1f1; }
    25% { text-shadow: -2px -2px #21a1f1, 2px 2px #21a1f1; }
    50% { text-shadow: 2px -2px #21a1f1, -2px 2px #21a1f1; }
    75% { text-shadow: -2px 2px #21a1f1, 2px -2px #21a1f1; }
    100% { text-shadow: 2px 2px #21a1f1, -2px -2px #21a1f1; }
  }
  
  .header-container {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logo:hover {
    opacity: 1;
    animation: glitch 0.2s infinite;
  }
  
  .nav {
    display: flex;
    gap: 35px;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    color: #AEB8C3;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    text-decoration: none;
  }
  
  .nav-link:hover {
    opacity: 1;
    animation: glitch 0.2s infinite;
  }
  
  .arrow {
    margin-left: 8px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
  
  .arrow svg {
    transition: transform 0.3s ease;
  }
  
  .arrow:hover svg {
    transform: scale(1.2);
    animation: glitch 0.2s infinite;
  }
  
  .button {
    color: #707989;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
    width: 200px;
    height: 54px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .button:hover {
    background: rgba(255, 255, 255, 0.2);
    animation: glitch 0.2s infinite;
  }
  

  